div.title {
    margin-top: 20px;
}

ol.stories {
    list-style-position: inside;
    list-style-type: katakana-iroha;
}

ul.examples {
    list-style-position: inside;
    list-style-type: square;
}

footer {
    margin-top: 40px;
}
